/* Fuentes importadas */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@100&display=swap");

/* Estilos generales */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  color: #333;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Encabezado y menú */
header {
  background-color: #f2f2f2;
  color: #755d55;
  display: flex;
  justify-content: space between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.dark-header {
  background-color: #a0dff5;
  color: #ffffff;
}
/* Menú */
nav {
  position: fixed;
  top: 0;
  right: 0;
  transition: background-color 0.3s;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 25px;
  padding-right: 20px;
}

nav ul {
  list-style: none;
  font-size: 17px;
  font-weight: bold;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
  margin: 0 15px;
}

/* Enlaces del menú */
nav a {
  text-decoration: none;
  color: var(--menu-text-color);
  transition: color 0.3s;
}

.underline::after {
  content: "";
  height: 2px;
  margin-top: 3px;
  width: 0;
  background-color: #dcdbd8;
  display: block;
  transition: all 500ms;
}

.underline:hover::after {
  width: 100%;
}
.translucent-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo translúcido */
  display: none;
  z-index: 999; /* Asegúrate de que esté por debajo del nav (1000) pero por encima del resto de los elementos */
}
/* Logo */
.logo img {
  max-width: 100px;
  height: auto;
  transition: filter 0.3s, transform 0.3s;
}

/* Enlaces claros */
.light-link {
  color: var(--menu-text-color-light);
}

/* Cambio de color del menú según la sección activa */
#inicio:target ~ header,
#servicios:target ~ header,
#sobre-mi:target ~ header,
#precios:target ~ header,
#contacto:target ~ header {
  background-color: #f2f2f2;
  color: #333;
}

/* Secciones alternando colores */
section {
  padding: 100px 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

section:nth-child(odd) {
  background-color: #333;
  color: #f2f2f2;
}

/* Títulos de sección */
h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

/* Estilos para la seccion de Inicio */
#inicio {
  background-image: url("./Assets/background.jpg");
  background-color: #f2f2f2;
  background-size: cover;
  background-position: center;
  color: #7a7777;
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro-container {
  position: relative;
  z-index: 1;
  padding: 50px;
}

.intro-content h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 148px;
  margin-bottom: 10px;
  animation: fadeInUp 5s ease, titleAnimation 20s ease-in-out infinite; /* Agrega la animación de entrada y la animación personalizada */
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes titleAnimation {
  0%,
  100% {
    color: #333; /* Color inicial y final */
  }
  50% {
    color: #a0dff5; /* Color a la mitad del ciclo */
  }
}

.intro-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  animation: fadeInUp 1s 0.5s ease; /* Agrega una animación de entrada con retraso */
}

/* Estilos para "Desplazar para explorar" con animación de desplazamiento */
.scroll-down {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  animation: bounce 2s infinite 1s;
}

.scroll-down p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #7a7777;
}

.arrow {
  width: 18px;
  height: 18px;
  border: 6px solid #7a7777;
  border-width: 6px 6px 0 0;
  transform: rotate(135deg);
  animation: bounceArrow 1.5s infinite, blink 2s infinite; /* Nueva animación "blink" */
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

/* Estilos para la sección de servicios */
#servicios {
  padding: 100px 0;
  text-align: center;
  background-image: url(./Assets/World\ Map.svg);
  /* background-color: #a0dff5; */
}

.servicios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.servicio {
  width: calc(33.33% - 40px);
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.servicio img {
  max-width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.servicio-title {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  color: #000000;
}

.servicio-description {
  font-size: 1rem;
  font-family: sans-serif;
  color: #666;
}

/* Estilos para el botón "Más Información" */
.servicio .boton-mas-info {
  display: block;
  margin-top: 15px;
  background-color: #143a4f72;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.servicio .boton-mas-info:hover {
  background-color: #009fe363;
}

/* Estilos para la información adicional */
.info-imagen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.info-imagen-content {
  max-width: 100%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.info-imagen-content img {
  max-width: 32%;
  max-height: 32%;
  object-fit: contain;
  border-bottom-right-radius: 4%;
  border-bottom-left-radius: 4%;
}

.cerrar-info {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  right: 10px;
  font-size: 70px;
  cursor: pointer;
  color: rgb(148, 148, 148);
}

/* Estilos para la sección "Sobre Mí" */
#sobre-mi {
  background-color: #f7f7f7;
  background-image: url(./Assets/Curve\ Line.svg);
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 15px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #000000;
}

.biografia {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.nombre {
  font-size: 36px;
  font-weight: bold;
  color: #a0dff5;
  margin: 10px 0;
}

.colegiada {
  color: #777;
  font-size: 20px;
}

.formacion ul {
  list-style: none;
  padding: 0 0 0 30px;
}

.formacion ul li {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

.trayectoria ul {
  list-style: none;
  padding: 0 0 0 30px;
}

.trayectoria ul li {
  margin-bottom: 15px;
  font-size: 18px;
  color: #555;
}

.biografia p:last-child {
  font-style: italic;
  margin-top: 30px;
  font-size: 20px;
  color: #777;
}

/* Estilos para la sección de "Precios" */
#precios {
  /* background-color: #a0dff5; */
  background-image: url(./Assets/World\ Map.svg);
  color: #ffffff;
  padding: 100px 0;
  text-align: center;
  animation: fadeIn 1.5s ease;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.section-title h2 {
  color: #ffffff;
}

.precio-carrusel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

/* Estilos para las tarjetas de precio */
.tarjeta-precio {
  background-color: #f7f7f7;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeIn 1.5s ease;
  animation-fill-mode: both;
  opacity: 0;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  width: calc(33.33% - 40px);
}

.tarjeta-precio:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.tarjeta-precio h3 {
  font-size: 50px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 10px;
  color: #000000;
}

.precio {
  font-size: 60px;
  font-weight: bold;
  background-color: #143a4f72;
  color: #ffffff;
  border-radius: 10px;
}

/* Animación de entrada personalizada */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilos para la sección de "Contacto" */
#contacto {
  background-color: #f9f9f9;
  padding: 0%;
  min-height: auto;
  text-align: center;
  animation: fadeIn 1.5s ease;
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
}

/* Estilos para el contenedor del mapa */
.mapa-container {
  flex: 1; /* Ocupa el 50% del espacio disponible */
  text-align: center;
}

/* Estilos para el mapa de Leaflet */
#map {
  width: 100%;
  height: 700px; /* Ajusta la altura según sea necesario */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el contenedor de información */
.informacion-container {
  flex: 1;
  max-width: 50%; 
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
}

/* Estilos para el título */
.informacion-container h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 55px; 
  color: #a0dff5; 
}

/* Estilos para los subtítulos */
.informacion-container p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555; /* Color de texto más oscuro */
}

/* Estilos para el contenedor de icono e información */
.icono-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

/* Estilos para las imágenes de iconos */
.icono-info img {
  width: 20px; /* Ajusta el tamaño según sea necesario */
  margin-right: 10px;
}

/* Estilos para los párrafos de información */
.icono-info p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333; /* Color de texto oscuro */
}

/* Estilos para el botón de contacto */
.btn-contactar {
  background-color: #a0dff5;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-contactar:hover {
  background-color: #5a96ab;
}

/* Estilos para el pie de página (footer) */
footer {
  background-color: #333;
  color: #fff;
}

/* Estilos para el texto de copyright */
.copyright {
  text-align: center;
  font-size: 16px;
  font-style: italic;
  opacity: 0.8;
}
.copyright p{
  margin: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 15px;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-right: 0;
  }

  nav ul li {
    margin: 10px 0;
  }

  .logo img {
    max-width: 80px;
  }

  nav ul {
    display: none;
  }

  nav {
    position: static;
    background-color: #f2f2f2;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 15px;
    padding-right: 0;
  }

  nav a {
    color: #333;
  }

  header .dark-header {
    background-color: #a0dff5;
    color: #ffffff;
  }

  .menu-open nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001; /* Asegura que esté por encima del nav (1000) */
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #686565;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 99999;
  }

  .mobile-menu nav {
    padding: 20px;
  }

  .mobile-menu ul {
    list-style: none;
    padding: 0;
  }

  .mobile-menu ul li {
    margin: 10px 0;
  }

  .mobile-menu a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    display: block;
  }

  /* Estilos para secciones en dispositivos móviles */
  section {
    padding: 60px 15px;
  }

  section:nth-child(odd) {
    background-color: #f2f2f2;
    color: #333;
  }

  /* Estilos para la sección de Inicio en dispositivos móviles */
  #inicio {
    background-size:cover;
    background-image: url(./Assets/background-mobile.jpg);
    min-height: 100vh;
  }

  .intro-container {
    padding: 15px;
    max-height: max-content;
    height: 500px;
  }

  .intro-content h1 {
    font-size: 3.8rem;
  }
  .intro-content p {
    font-size: 17px;
  }
  .scroll-down{
    top: 150px;
  }
  .scroll-down p {
    font-size: 15px;
  }
  .scroll-down .arrow {
    
    width: 12px;
    height: 12px;
  }

  /* Estilos para la sección de Servicios en dispositivos móviles */
  #servicios {
    padding: 60px 15px;
  }

  .servicios-container {
    gap: 20px;
  }

  .servicio {
    width: calc(70%);
  }

  /* Estilos para la sección de Sobre Mí en dispositivos móviles */
  #sobre-mi {
    padding: 20px;
  }

  .biografia {
    padding: 20px;
  }

  .nombre {
    font-size: 24px;
  }

  .colegiada,
  .biografia p:last-child {
    font-size: 16px;
  }

  .formacion ul li,
  .trayectoria ul li {
    font-size: 14px;
  }

  /* Estilos para la sección de Precios en dispositivos móviles */
  #precios {
    padding: 60px 15px;
  }

  .tarjeta-precio {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }

  .tarjeta-precio h3 {
    font-size: 32px;
  }

  .precio {
    font-size: 40px;
  }

  /* Estilos para la sección de Contacto en dispositivos móviles */
  #contacto {
    flex-direction: column;
  }

  .mapa-container {
    max-width: 100%;
    flex: none;
  }

  .informacion-container {
    max-width: 100%;
    flex: none;
    padding-right: 0;
  }

  #map {
    height: 300px;
  }

  .informacion-container h2 {
    font-size: 32px;
  }

  .informacion-container p,
  .icono-info p {
    font-size: 14px;
  }

  .btn-contactar {
    font-size: 16px;
  }

  /* ... Puedes agregar más estilos para dispositivos móviles si es necesario */
}

/* Estilos para el botón de hamburguesa */
/* Estilos para el menú en dispositivos móviles */
/* Estilos para el menú desplegable */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    119,
    116,
    116,
    0.95
  ); /* Fondo blanco semi-transparente */
  z-index: 1000; /* Asegura que esté por encima del contenido */
}
